---
import HomeButton from "@components/HomeButton.astro";
import Divider from "@components/Divider.astro";
import Links from "@components/Links.astro";
import Paragraph from "@components/Paragraph.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={frontmatter.description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
	</head>
	<body class="bg-gradient-to-b from-ebony-clay-950 to-ebony-clay-900">
		<div class="px-10 py-14">
			<main class="flex flex-col items-center w-full h-full">
				<div class="max-w-[65ch]">
					<HomeButton />
					<Paragraph title={frontmatter.title} subtitle={frontmatter.description}/>
					<div class="flex justify-end">
						<div class="text-ebony-clay-100/80 bg-ebony-clay-900/80 rounded-lg border border-ebony-clay-400/50 mx-8 group-hover:text-ebony-clay-400 scale-110">
							{frontmatter.date}
						</div>
					</div>
					<Divider />
					<div class="flex flex-col w-[100vw] max-w-[70ch]">
						<slot />
					</div>
					<Divider />
					<div class="flex flex-row justify-start gap-3 flex-wrap py-3 mx-4">
						{frontmatter.tags.map((tag: string) => (
							<div class="text-ebony-clay-100/80 bg-ebony-clay-900/80 rounded-lg border border-ebony-clay-400/50 px-1 group-hover:text-ebony-clay-400 scale-110">{tag}</div>
						))}
					</div>
					<HomeButton />
					<Links />
				</div>
			</main>
		</div>
	</body>
</html>
